div#root {
  margin: auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.profile {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 1px grey solid;
  margin: 20px;
  position:relative;
}
.timer{
  font-weight: 800;
  padding:5px;
  position:absolute;
  top:0;
  right:0;
  color:green;
}

/* buttons */
button.add {
  background: #addbad;
  font-size: larger;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button.remove {
  background: #ff000087;
  font-size: larger;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}